@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Roboto:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    
}
.parent{
    width: 100%;
    display: flex;   
    flex-direction: column;
    justify-content: center;
}
.header{
    background-image: url('img/pattern-bg.png');
    height: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   
}
.header .head{
    color: rgb(253, 240, 240);
    letter-spacing: 1px;
    transform: translateY(20px);
}
.header .input-button{
    transform: translateY(2rem);
    height: 2.5rem;
}
.header input{
    width: 25rem;
    height: 2.8rem;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left:20px ;
    cursor: pointer;
   font-size: 18px;
   
}
.header input::placeholder{
   color: hsl(0, 0%, 59%);
   font-size: 18px;
}
.header button{
    width: 3rem;
    height: 2.9rem;
    transform: translateX(-3.8px);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
    background-color: hsl(0, 0%, 17%);
    cursor: pointer;
}
.header button:hover{
    opacity: 0.7;
}
.header input:focus{
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
.map{
    width: 100%;
    height: 25rem;
    background-color: hsl(0, 0%, 80%);
    z-index: 1;
}
.data{
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 55rem;
    height: 8rem;
    border: none;
    border-radius: 15px;
    top: 14rem;
    transform: translate(50%,-50%);
    right: 50%;
    background-color: white;
    padding-top: 25px;
    transition: all 0.5s;
    box-shadow: 0 10px 0 0 hsl(0, 0%, 59%,0.3);
    opacity: 0;
}
.data .head{
    color: hsl(0, 0%, 59%);
    letter-spacing: 1px;
    font-weight: 500;
    font-size: small;
}
.data-child{
    width: 8rem;
}
.divider-line{
    width: 1px;
    height: 4rem;
    background-color:hsl(0, 0%, 59%) ;
    opacity: 0.5;
    transform: translateY(8px);
    
}
.line-1{
    transform: translate(10px,8px);
}
.line-2{
    transform: translate(10px,8px);
}
.line-3{
    transform: translate(10px,8px);
}

.data-pieces{
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    transform: translateY(-5px);
}

.data .data-same{
    transform: translateX(-15px);
    overflow: hidden;
}
@media only screen and (max-width:960px){
    .header{
        height: 12rem;
    } 
    .data{
        width: 40rem;
        height: 6.6rem;  
        top: 12rem;      
    }
    .data-child{
        width: 6rem;
    }
    .data-pieces{
        font-size: 15px;
    }
    .divider-line{
        height: 3rem;
    }
    .map{
        height: 24rem;
    }
}   
@media only screen and (max-width:760px){
    .header input{
        width: 20rem;
        height: 2.5rem;
    }
    .header  button{
        height: 2.5rem;
        width: 2.5rem;
    }
    .header{
        height: 10rem;
    } 
    .data{
        width: 30rem;
        
    }
    .divider-line{
        height: 3rem;
    }
    .data .data-same{
        transform: translateX(5px);
    }

}
@media only screen and (max-width:425px){
    .header .head{
        font-size: 10px;
    }
    .header .input-button{
        display: flex;
        flex-wrap: nowrap;
    }
    .header input{
        width: 13rem;
        height: 2.5rem;
        padding-left: 15px;
    }
    
    .header input::placeholder{
        font-size: 11px;
     }
    .divider-line{
        display: none;
    }
    .data{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 15rem;
        height: 14rem;
        top: 14rem;
    }
    .data .head{
        font-weight: bold;
        font-size: 10px;
    }
    .data .data-child{
       width: 8rem;
       transform: translateY(-10px);
    }
    .data .data-pieces{
        transform: translateY(-10px);
        max-height: 2.3rem;
    }
    .map{
        height: 20rem;
    }
}  